@media screen and (min-width: 768px){
    .wrapper{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: gray;
        font-size: 1em;
    }
    .footer{
        position:fixed;
        bottom: 0;
        width: 60%;
    }
}

@media screen and (max-width: 400px){
    .wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: gray;
    }
    .footer{
        position:fixed;
        bottom: 0;
        width: 100%;
    }
}


.bill-element {
    background-color: #ECF0F1;
    border-radius: 6px;
    border-color: snow;
    border-width: 3px;
    height: 150px;
    font-size: 3em;
}

.title-bar {
    width: 100%;
    height: 82px;
    background-color: #ECF0F1;
    border-bottom: 2px solid #696969;
}

.title{
    text-align: center;
    font-size: 4em;
    color: #7F8C8D;
}

.add-button {
    width: 80px;
    height: 80px;
    background-color: #E67E22;
    background-image: url("../images/add.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}

.chevron_right{
    background-color: #BDC3C7;
    background-image: url("../images/chevron_right.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10px;
    float: right;
    height: 150px;
    width: 80px;
}

.back-button {
    background-color: #696969;
}
.edit-button,
.record_form .edit-button{
    background-color: #E67E22;
}

.bill-list{
    list-style: none;
    padding: 0;
}

.bill-row{
    height: 80px;
    background-color: #ECF0F1;
    border-radius: 6px;
    margin-bottom: 2px;
    padding-left: 30px;
    padding-top: 27px;
    font-size: 3em;
    color: #7F8C8D;
}
.record_form .bill-row{
    padding-left: 0;
}

.empty-bill-row{
    height: 200px;
}

.bill-row:hover{
    background-color: #BDC3C7;
}

.record_form .date-picker{
    line-height: normal;
}

.money{
    display: block;
    float: right;
    margin-right: 50px;
}


a:hover{ text-decoration:none;}

.page-title {

}

.member-name{
    float: left;
}

.listText{
    font-size: 80px;
    font-family: sans-serif;
}

.btn {
    width: 200px;
    height: 70px;
    background-color: #E67E22;
    margin-left: 15px;
    font-size: 50px;
    font-family: sans-serif;
}
#add-new-member{
    width: 25%;
    height: 98%;
    background-color: #E67E22;
    background-image: url("../images/add.png");
    margin: 0;
    border: none;
    float: right;
}
#new_member_name{
    float: left;
    width: 75%;
    height: 98%;
    margin: 0;
    font-size: 2.5em;
}
#new_bill_name{
    font-size: 3em;
}
.bottom-button,
.record_form .bottom-button{
    width: 50%;
    height: 100px;
    float: left;
    font-size: 3em;
    text-align: center;
    padding: 0;
    color: #7F8C8D;
    border: none;
    padding-top: 20px;
}

ul{
    list-style: none;
    padding: 0;
}

.bill-row:hover{
    background-color: #BDC3C7;
}

.bill-row a{
    font-size: 60px;
    color: #7F8C8D;
}

a:hover{ text-decoration:none;}

.page-title {

}

.input {
    width: 300px;
    height: 70px;
    font-size: 50px;
    margin-left: 30px;
}

.add_member {
    height: 78px;
    /*border: 1px solid #5e5e5e;*/
}

.member_list {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}

.record_form input{
    width: 100%;
    display: block;
    border: none;
    background: none;
    margin: 0;
    text-align: center;
}

input.title{
    font-size: 4em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #D6D8DA;
}

