.app-background{
    width: 100%;
    background-color: gray;
}

/*.container {*/
    /*position: absolute;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.bill-element {
    background-color: #ECF0F1;
    border-radius: 6px;
    border-color: snow;
    border-width: 3px;
    height: 180px;
    font-size: 60px;
}

.title-bar {
    height: 200px;
    background-color: #ECF0F1;
    border-bottom: 2px solid #696969;
}

.title{
    float: left;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 100px;
    color: #7F8C8D;
}

.add-button {
    width: 198px;
    height: 198px;
    border: none;
    background-image: url(../images/add.png);
    background-color: #E67E22;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}

.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}

.bottom-button{
    margin-top: 2px;
    width: 50%;
    height: 198px;
    float: left;
    color: #ECF0F1;
    font-size: 80px;
    padding: 50px 0 0 170px;;
}
.back-button {
    background-color: #696969;
}
.edit-button{
    background-color: #E67E22;
}

.bill-list{
    list-style: none;
    padding: 0;
}

.bill-row{
    height: 150px;
    background-color: #ECF0F1;
    border-radius: 6px;
    margin-bottom: 2px;
    padding-left: 30px;
    padding-top: 27px;
    font-size: 60px;
    color: #7F8C8D;
}

.bill-row:hover{
    background-color: #BDC3C7;
}

a:hover{ text-decoration:none;}

.page-title {

}

.member-name{
    float: left;
}
