<div class="title-bar">
    <div class="title">{{member_name}}</div>
</div>
<form class="record_form" name="recordForm" ng-submit="save()">
    <ul>
        <li class="bill-row">
            <input name="cost" ng-model="cost" required placeholder="Cost"/>
            <!--<span ng-show="recordForm.cost.$error.required">please input the cost</span>-->
        </li>
        <li class="bill-row">
            <input ng-model="subject" placeholder="subject"/>
        </li>
        <li class="bill-row">
            <input ng-model="date" type="text" onfocus="(this.type='date')" class="date-picker" placeholder="{{date | date:'yyyy-MM-dd'}}"/>
        </li>
    </ul>
    <div class="footer ng-scope">
        <input type="submit" class="edit-button bottom-button" value="Save" />
        <!--<div class="edit-button bottom-button">Save</div>-->
        <a ng-href="#/billList" href="#/billList">
            <div class="back-button bottom-button">Back</div>
        </a>
    </div>
</form>