<div id="new-bill">
    <h2>{{word}}</h2>
    <div class="title-bar">
        <input type="text" id="new-bill-name" class="title" value="bill name" ng-model="new_bill_name"/>
    </div>
    <div>
        <label for="new_member_name">Member</label>
        <input type="text" name="new_member_name" id="new_member_name" value="member name" ng-model="new_member_name"/>
        <button ng-click="addMember()" id="create-bill">Add</button>
    </div>
    <a href="/aasdasdas">gogogo</a>
    <button ng-click="createBill()" class="create_button">Create</button>
    <ul>
        <li ng-repeat="item in list" class="bill-element">{{item}}</li>
    </ul>
</div>
<form action="/createBill" method="POST">
    <input type="submit" value="submit"/>
</form>
