<div id="new-bill">
    <div class="title-bar">
        <input type="text" placeholder="trip name" id="new_bill_name" class="title" ng-model="new_bill_name"/>
    </div>
    <div class="add_member">
        <input type="text" name="new_member_name" id="new_member_name" placeholder="Member name" ng-model="new_member_name" class="input"/>
        <button ng-click="addMember()" id="add-new-member" class="btn-primary btn"></button>
    </div>

    <ul class="member_list">
        <li ng-repeat="item in list" class="bill-row">{{item.name}}</li>
    </ul>

    <div class="footer ng-scope">
        <button ng-click="createBill()" class="edit-button bottom-button">Create</button>
        <!--<div class="edit-button bottom-button">Edit</div>-->
        <a ng-href="#/billList" href="#/billList"> <div class="back-button bottom-button">Back</div> </a>
    </div>
</div>
