@(bill: Bill, partnerForm: play.data.Form[Partner], recordForm: play.data.Form[ConsumptionRecord])

@import helper._

@main("PayBill"){
    <p>test angularJS 1 + 2 = {{ 1 + 2 }}</p>
    <h2>Add your little partners</h2>
    @form(routes.Application.addPartner()) {
        @inputText(partnerForm("Name"))
        <input type="submit" value="Add">
    }
    <h2>Add a consumption</h2>
    @form(routes.Application.addRecord()) {
        @inputText(recordForm("amount"))
        <input type="submit" value="Add">
    }

    <button>Show Bill</button>

}